/*  секция услуги */
.quality {
  padding-top: 94px;
  padding-bottom: 94px;
}
.quality__list {
  max-width: 270px;
}
.quality__list::before {
  display: flex;
  content: '';
  height: 120px;
  background-color: #f5f4fa;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
.quality__list:nth-child(1):before {
  background-image: url(../images/icons/antenna.svg);
}
.quality__list:nth-child(2):before {
  background-image: url(../images/icons/clock.svg);
}
.quality__list:nth-child(3):before {
  background-image: url(../images/icons/diagram.svg);
}
.quality__list:nth-child(4):before {
  background-image: url(../images/icons/astronaut.svg);
}
.quality__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
  margin-bottom: 0;
  width: 270px;
  height: 75px;
}
